#sender {
  min-width: 466px;
  width: 560px;
}
#message {
  margin-bottom: 20px;
}
#email {
  display: inline-block;
  width: 300px;
  margin-right: 30px;
}
form button.btn {
  /* vertical-align: top; */
}
form p {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea {
  resize: none;
}
label {
  margin-bottom: 0;
}